html{
    color: rgb(110, 247, 110);
    font-family: 'VT323', monospace;
}

body{
    background-color: rgb(0, 0, 0);
    width: 98%;
    height: 98%;
}

input{
    background-color: rgb(0, 0, 0);
    box-shadow: none;
    border: 0;
    color: rgb(110, 247, 110);
    font-family: 'VT323', monospace;
    font-size: 16px;
    width: 100%;
}

input:focus{
    background-color: rgb(0, 0, 0);
    box-shadow: none;
    outline: none;
}

form {
    display: inline;
    flex-grow: 1;
}

footer{
    width: 100%;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(110, 247, 110);
}
a:hover{
    text-decoration: none;
}

.padrao{
    margin-block-start: 1em;
    margin-block-end: 1em;;
}

.textoerro{
    color: red;
}

.logostl{
    top: 60%;
    left: 79%;
    position: absolute;
    z-index: -2;
}

.controle{
    display: flex;
}

@media (max-width: 900px) {
    .logostl{
        display: none;
    }
  }